:root {
  --my-orange: #CC9933;
  --my-light-orange: #F0BF5F;
  --my-dark-orange: #A47312;
  --my-gray: #666666;
  --light-gray: #999;
  --my-white: #fff;
  --black: #000;
  --white-but-not-000: #E9E9E9;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;
  font-family: 'font', 'sans-serif';
  background: #E5E5E5;
}

section {
  margin-bottom: 70px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
}

.header {
  margin-bottom: 45px;
  margin-top: 30px;
}

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  margin-right: 30px;
}

.header-address {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--my-gray);
  cursor: pointer;
  position: relative;
  transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out, outline 0.2s ease-in-out;
}

.header-address:focus {
  color: var(--my-orange);
}

.header-address::after {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  outline: 1px solid var(--my-orange);
  opacity: 0;
  color: var(--my-orange);
}

.header-address:hover {
  color: var(--my-orange);
}

.header-address:focus::after {
  opacity: 1;

}

.header-address:active {
  color: var(--my-dark-orange);
}

.header-address:active::after {
  outline: none;
}

.login {
  color: var(--my-orange);
  text-decoration: none;
  background: url(../img/login.svg) no-repeat left;
  padding-left: 23px;
  position: relative;
}

.login:focus {
  color: var(--my-orange);
}

.login::after {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  outline: 1px solid var(--my-orange);
  opacity: 0;
  color: var(--my-orange);
}

.login:hover {
  color: var(--my-light-orange);
  background: url(../img/login-light.svg) no-repeat left;
}

.login:focus::after {
  opacity: 1;

}

.login:active {
  color: var(--my-dark-orange);
}

.login:active::after {
  outline: none;
}


.header-navs {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  background: var(--my-white);
  border-radius: 15px;
}

.header-list {
  display: flex;
  width: 55%;
  justify-content: space-between;

  padding: 27px 0px 27px 45px;
}

.header-nav {
  color: var(--my-gray);
}

.header-btn {
  width: 30%;
  display: inherit;
  justify-content: space-between;
  padding-right: 45px;
}

.header-btn .btn {
  padding: 13px 20px;
}

.title {
  padding-bottom: 20px;
  font-size: 40px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.nav-links {
  display: inline-block;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  position: relative;
  transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out, outline 0.2s ease-in-out;

}

.nav-links:focus {
  color: var(--my-orange);
}

.nav-links::after {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  outline: 1px solid var(--my-orange);
  opacity: 0;
  color: var(--my-orange);
}

.nav-links:hover {
  color: var(--my-orange);
}

.nav-links:focus::after {
  opacity: 1;

}

.nav-links:active {
  color: var(--my-dark-orange);
}

.nav-links:active::after {
  outline: none;
}

.btn {
  color: var(--my-orange);
  background: var(--my-white);
  border: 1px solid var(--my-orange);
  border-radius: 15px;
  padding: 13px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.2s ease-in-out;
}

.btn:focus,
.btn:hover {
  background-color: var(--my-orange);
  color: var(--my-white);

}

.btn:active {
  background-color: var(--my-dark-orange);
  color: var(--my-white);

}


.two-offers .offer:nth-child(1) {
  background: url(../img/offer1.png) no-repeat, linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
}

.two-offers .offer:nth-child(2) {
  background: url(../img/offer2.png) no-repeat, linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
}

.offer-big {
  position: relative;
  background: url(../img/offer3.jpg) no-repeat, linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
  ;
  width: 573px;
  min-height: 258px;
  border-radius: 15px;
  padding-left: 45px;

}

/* 
.main {
}*/
.spec-off-flex {
  display: flex;
  justify-content: space-around;
  width: 100%;

}

.two-offers {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}

.offer {
  position: relative;
  width: 573px;
  min-height: 258px;
  border-radius: 15px;
  margin-bottom: 24px;
  padding-bottom: 40px;
  padding-left: 45px;
  padding: 40px 45px;
  padding-right: 0;
}

.offer:last-child {
  margin: 0;
}

.offer-title {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: var(--my-white);
  max-width: 420px;
  margin-bottom: 15px;
}

.offer-big .offer-title {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  padding-top: 212px;
  ;
  color: var(--my-white);
}

.price {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--my-white);
  opacity: 0.8;
  display: block;
}

.more {
  position: absolute;
  top: auto;
  bottom: 40px;
  color: var(--my-light-orange);
  text-decoration: none;
  background: url("../img/more.svg") no-repeat right;
  padding-right: 12px;
  transition: padding-right 0.3s ease-in-out, color 0.3s ease-in-out;
}

.more:hover {
  padding-right: 36px;
}

.more:active {
  color: var(--my-white);
}

.about-us {
  max-width: 888px;
}

.text {
  margin-top: 0;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

.services {
  font-size: 0;
}

.services-flex {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  margin-right: -24px;
  margin-bottom: -24px;
}

.service {
  max-width: 573px;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  margin-right: 24px;
  border-radius: 15px;
}

.service:nth-child(n+3) {
  margin-bottom: 0;
}

.service:last-child {
  margin: 0;
}

/* .service-img {
} */
.service-info {
  background: var(--my-white);
  height: 165px;
  padding-top: 25px;
  padding: 25px 0 35px 45px;
  border-radius: 0 0 15px 15px;
}

.service-title {
  display: inline-block;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--my-orange);
  cursor: pointer;
  background: url("../img/more.svg") no-repeat right;
  padding-right: 15px;
  transition: padding-right 0.3s ease-in-out, color 0.3s ease-in-out;
}

.service-title:hover {
  padding-right: 36px;
  background: url("../img/more-light.svg") no-repeat right;
  color: var(--my-light-orange);
}

.service-title:active {
  color: var(--my-dark-orange);
}

/* .advantages {
} */
.advantage {
  max-width: 276px;
  max-height: 276px;
  padding: 40px 42px 32px 45px;
  background: var(--my-white);
  margin: 0 22px 22px 0;
  border-radius: 15px;
}

.advantage:nth-child(n+4) {
  margin-bottom: 0;
}

/* .advantage-logo {
} */
.advantages-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -22px -22px 0;
}

/* .placements {} */

.placements-flex {
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  margin: 0 -24px -24px 0;

}

.placement {
  width: 374px;
  margin: 0 24px 24px 0;
  border-radius: 15px;
  background: var(--my-white);
}

.placement:nth-child(3n) {
  margin-right: 0;
}

.placement:nth-child(n+7) {
  margin-bottom: 0;
}

.placement-info {
  position: relative;
  padding: 32px 45px 45px 45px;
  max-height: 440px;
}

/* .placement-img {
} */
.placement-price {
  color: var(--light-gray)
}

.count {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: var(--black);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.night {
  color: var(--black);

}

.stars {
  position: absolute;
  display: inline-block;
  right: 45px;
}

.placement-name {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
}

.placement-disc {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--light-gray);
}

.all-var {
  width: 374px;
  height: 440px;
  background: url("../img/13.png") no-repeat;
  border-radius: 15px;
  position: relative;

}

.see-all {
  display: inline-block;
  margin-top: 100%;
  text-align: center;
  text-decoration: none;
  background: url("../img/w-more.svg") no-repeat right;
  padding-right: 15px;
  margin-bottom: 0;
  margin-left: 20%;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--my-white);
}

.see-all::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
}

.form {
  position: relative;
  background: var(--my-white);
  border-radius: 15px;
  padding: 32px 28px;
}

.form label {
  position: absolute;
  top: 15px;
}

.form select {
  width: 169px;
  -webkit-appearance: none;
  border: 0px;
  outline: 0px;
  padding: 5px;
  padding-right: 40px;
  overflow: hidden;
  background: url('../img/Rectangle.svg') no-repeat right;
  margin-right: 40px;
}

.form input {
  width: 100px;
  border: none;
  border-bottom: 1px solid #E9E9E9;
  margin-right: 40px;
}

.form input:first-child {
  border: none;
}


.want {
  background: #E9E9E9;
  border-radius: 15px;
  padding: 40px;
}

.not-flex {
  display: inline;
}

.contacts {
  background: var(--my-white);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding: 45px;
}

.contacts-contact {
  width: 35%;
}

.contact {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E9E9E9;
  margin-bottom: 25px;
}

.contact-title {
  display: inline-block;
  width: 100px;
}

.contact p {
  max-width: 229px;
}

.con {
  display: inline-block;
  text-align: left;
  width: calc(100% - 150px);
}

.con ul {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 45%;
}

.tel {
  position: relative;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--my-orange);
  text-decoration: none;
  transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out, outline 0.2s ease-in-out;

}

.tel:focus {
  color: var(--my-orange);
}

.tel::after {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  outline: 1px solid var(--my-orange);
  opacity: 0;
  color: var(--my-orange);
}

.tel:hover {
  color: var(--my-light-orange);
}

.tel:focus::after {
  opacity: 1;

}

.tel:active {
  color: var(--my-dark-orange);
}

.tel:active::after {
  outline: none;
}

.contacts-tel ul,
.emails,
.social-net ul {
  list-style: none;
  padding: 0;
}

.email {
  display: inline-block;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--my-orange);
  text-decoration: none;
  position: relative;
  transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out, outline 0.2s ease-in-out;
}

.email:focus {
  color: var(--my-orange);
}

.email::after {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  outline: 1px solid var(--my-orange);
  opacity: 0;
  color: var(--my-orange);
}

.email:hover {
  color: var(--my-light-orange);
}

.email:focus::after {
  opacity: 1;

}

.email:active {
  color: var(--my-dark-orange);
}

.email:active::after {
  outline: none;
}


.contact-text {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  color: var(--light-gray);
}

/* .contacts-img {
} */
.footer {
  display: flex;
  justify-content: space-between;
  height: 341px;
  background: url("../img/dermo.svg") #333 no-repeat 75% 100%;
  border-radius: 15px;
  color: var(--my-white);
  margin-bottom: 30px;
  padding: 45px;
}

.footer-dic {
  width: 300px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
}

.footer-dic a {
  color: var(--my-orange);
  text-decoration: none;
}

.footer-dic p {
  margin-top: 0;
  margin-bottom: 37px;
}

/* .footer-contacts {
} */
.social-net ul li {
  margin-bottom: 20px;
}

.social {
  fill: var(--light-gray);
  transition: fill 0.3s ease-in-out;
}

.social:focus,
.social:hover {
  fill: var(--my-orange);
}

.social:active {
  fill: var(--my-dark-orange);
}